@charset "UTF-8";
/*               Reset CSS               */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/*               Variables               */
/*               Mixins               */
/*               Acceuil               */
.container {
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  background: #579c87;
}

.header h1 {
  color: #fdcb46;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 5em;
  letter-spacing: -3px;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 100px 100px 0px 300px;
}

.menu1, .menu2, .menu3, .menu4 {
  height: 600px;
  width: 450px;
  -webkit-box-shadow: 0px 0px 29px -5px black;
          box-shadow: 0px 0px 29px -5px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
  margin-bottom: 100px;
}

.menu1:hover .zoom, .menu2:hover .zoom, .menu3:hover .zoom, .menu4:hover .zoom {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
  opacity: 0.8;
}

.menu1 {
  background-color: #fcdfdb;
}

.menu1 p {
  font-family: 'Devonshire', Arial, Helvetica, sans-serif;
  font-size: 2.3em;
}

.fas {
  font-size: 3.5em;
  background: -webkit-gradient(linear, left top, right top, from(#f15861), to(#f78f6a));
  background: linear-gradient(90deg, #f15861, #f78f6a);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.menu2 {
  background-color: #fff5fe;
  font-family: 'Croissant One', Arial, Helvetica, sans-serif;
}

.menu2 p {
  font-size: 1.8em;
  background: -webkit-gradient(linear, left top, right top, from(#d8852e), to(#905bfd));
  background: linear-gradient(90deg, #d8852e, #905bfd);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.menu3 {
  background-color: #f9f9f9;
  font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
}

.menu3 p {
  font-size: 2.7em;
  background: -webkit-gradient(linear, left top, right top, from(#0431df), to(#0887fb));
  background: linear-gradient(90deg, #0431df, #0887fb);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.menu4 {
  background-color: #fdfffd;
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
}

.menu4 p {
  font-size: 2.4em;
  background: -webkit-gradient(linear, left top, right top, from(#3d9339), to(#bfff7e));
  background: linear-gradient(90deg, #3d9339, #bfff7e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.menu1-font {
  font-family: 'Sriracha', Arial, Helvetica, sans-serif;
  font-size: 3em;
}

.menu2-font {
  font-family: 'Sriracha', Arial, Helvetica, sans-serif;
  font-size: 3em;
  color: #c77412;
}

.menu3-font {
  font-family: 'Sriracha', Arial, Helvetica, sans-serif;
  font-size: 3em;
  color: #0887fb;
}

.menu4-font {
  font-family: 'Sriracha', Arial, Helvetica, sans-serif;
  font-size: 3em;
  color: #72bf56;
}

.zoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}

.btn .btn_soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 7vh;
  background-color: #579c87;
  margin: 50px 0px;
  border-radius: 25px;
  color: #fdcb46;
  font-size: 2.7em;
}

@-webkit-keyframes dot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.child0 {
  -webkit-animation: dot 1.5s infinite;
          animation: dot 1.5s infinite;
}

.child1 {
  -webkit-animation: dot 1.4s infinite .7s;
          animation: dot 1.4s infinite .7s;
}

.child2 {
  -webkit-animation: dot 1.4s infinite 1s;
          animation: dot 1.4s infinite 1s;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  width: 100%;
  background: #579c87;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
}

.footer a {
  color: #fdcb46;
  font-size: 2.3em;
  margin: 0px 40px;
  text-decoration: none;
  -webkit-animation: wiggle 700ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite alternate;
          animation: wiggle 700ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite alternate;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  1% {
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
  }
  7% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  11% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  1% {
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
  }
  7% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  11% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*               Mentions légales               */
.mentions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 300px 150px 300px;
}

.mentions div {
  margin: 20px 0px;
}

h2 {
  font-size: 2.7em;
  margin-bottom: 30px;
}

.mentions h3 {
  font-size: 1.5em;
  color: #579c87;
  -webkit-text-decoration: underline #fdcb46;
          text-decoration: underline #fdcb46;
  margin-bottom: 10px;
}

/*               Contactez-nous               */
form {
  border: 1px solid #579c87;
  padding: 50px;
  font-size: 1.7em;
  font-family: 'Bellota Text', Arial, Helvetica, sans-serif;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 300px 150px 300px;
}

.contact .contact__under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact h2 {
  color: #579c87;
  -webkit-text-decoration: underline #fdcb46;
          text-decoration: underline #fdcb46;
}

.contact div {
  margin-bottom: 30px;
}

#restaurant, #name, #firstname, #email, #tel {
  border-radius: 50px;
}

#comment {
  border-radius: 5px;
}

.civil-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.civil-state div {
  margin-right: 200px;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join div {
  margin-right: 270px;
}

.send-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.decoration {
  color: #579c87;
  -webkit-text-decoration: underline #fdcb46;
          text-decoration: underline #fdcb46;
  margin-bottom: 5px;
}

.required {
  font-size: 0.5em;
  font-style: italic;
  font-weight: bold;
}

/*               La note enchantée               */
.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 300px 120px 300px;
}

.menu1--modif {
  background-color: #fcdfdb;
  width: 100%;
}

.title__note {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__note h2 {
  font-family: 'Devonshire', Arial, Helvetica, sans-serif;
  font-size: 4.3em;
}

.title__note .fas {
  padding-top: 50px;
  font-size: 6.5em;
}

.subtitle__note h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  font-size: 2.7em;
}

.dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px 20px 20px;
}

.dishes li {
  margin: 5px 40px;
  list-style-type: none;
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.down__note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0px;
}

.down__note h4 {
  padding-left: 20px;
  font-family: 'Devonshire', Arial, Helvetica, sans-serif;
  font-size: 3em;
}

.down__note .fas {
  font-size: 3.9em;
}

/*               Le chic à la française               */
.menu2--modif {
  background-color: #fff5fe;
  width: 100%;
}

.title__chic {
  margin: 170px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__chic h2 {
  font-family: 'Croissant One', Arial, Helvetica, sans-serif;
  font-size: 3em;
  background: -webkit-gradient(linear, left top, right top, from(#d8852e), to(#905bfd));
  background: linear-gradient(90deg, #d8852e, #905bfd);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.subtitle__chic h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0px 45px 0px;
  font-family: 'Noto Serif', Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  font-style: bold;
}

.dishes__chic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px 20px 20px;
}

.dishes__chic li {
  margin: 5px 0px 30px 70px;
  list-style-type: none;
  font-family: 'Noto Serif', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.color__chic1 {
  color: #d8852e;
}

.color__chic2 {
  color: #a56799;
}

.color__chic3 {
  color: #6e4ccc;
}

/*               Le chic à la française               */
.menu3--modif {
  background-color: #f9f9f9;
  width: 100%;
}

.title__delice {
  margin: 170px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__delice h2 {
  font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
  font-size: 5.7em;
  background: -webkit-gradient(linear, left top, right top, from(#0431df), to(#0887fb));
  background: linear-gradient(90deg, #0431df, #0887fb);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0px 10px;
}

.subtitle__delice h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0px 45px 0px;
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  font-size: 1.7em;
}

.dishes__delice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px 20px 20px;
}

.dishes__delice li {
  margin: 5px 0px 30px 70px;
  list-style-type: none;
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

/*               Le chic à la française               */
.menu4--modif {
  background-color: #fdfffd;
  width: 100%;
}

.title__palette {
  margin: 170px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__palette h2 {
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
  font-size: 5.7em;
  background: -webkit-gradient(linear, left top, right top, from(#3d9339), to(#bfff7e));
  background: linear-gradient(90deg, #3d9339, #bfff7e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0px 10px;
}

.subtitle__palette h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0px 45px 0px;
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  font-size: 1.7em;
}

.dishes__palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px 20px 20px;
}

.dishes__palette li {
  margin: 5px 0px 30px 70px;
  list-style-type: none;
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
/*# sourceMappingURL=style.css.map */