            /*               Reset CSS               */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0px;
    border: 0px;
}

            /*               Variables               */

$logo-text: #fdcb46;
$headband: #579c87;
$menu1: #fcdfdb;
$menu2: #fff5fe;
$menu3: #f9f9f9;
$menu4: #fdfffd;
$roboto: 'Roboto', Arial, Helvetica, sans-serif;
$devonshire: 'Devonshire', Arial, Helvetica, sans-serif;
$croissant: 'Croissant One', Arial, Helvetica, sans-serif;
$dancing: 'Dancing Script', Arial, Helvetica, sans-serif;
$kaushan: 'Kaushan Script', Arial, Helvetica, sans-serif;
$sriracha: 'Sriracha', Arial, Helvetica, sans-serif;
$bellota: 'Bellota Text', Arial, Helvetica, sans-serif;
$kalam: 'Kalam', Arial, Helvetica, sans-serif;
$noto: 'Noto Serif', Arial, Helvetica, sans-serif;

            /*               Mixins               */

@mixin center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
            
@mixin parameter
{
    height: 600px;
    width: 450px;
    box-shadow: 0px 0px 29px -5px rgba(0,0,0,1);
    @include center;
}
            
@mixin zoom
{
    color: black;
    @include center;
    transform: scale(1);
    transition: transform 600ms;
    &:hover .zoom
        {
            transform: scale(1.05);
            transition: transform 600ms;
            opacity: 0.8;
        }
}

@mixin transparent
{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

            /*               Acceuil               */

.container
{
    width: 100%;
}

.header
{
    @include center;
    width: 100%;
    height: 14vh;
    background: $headband;
    h1
    {
        color: $logo-text;
        font-family: $roboto;
        font-size: 5em;
        letter-spacing: -3px;
    }
}

.menu
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 100px 0px 300px;
}

.menu1, .menu2, .menu3, .menu4
{
    @include parameter;
    @include zoom;
    margin-bottom: 100px;
}

.menu1
{
    background-color: $menu1;
    a
    {
        font-family: $devonshire;
        font-size: 2.3em;
        text-decoration: none;
        color: black;
    }
}

.fas
{
    font-size: 3.5em;
    background: linear-gradient(90deg, #f15861, #f78f6a);
    @include transparent;
}

.menu2
{
    background-color: $menu2;
    font-family: $croissant;
    a
    {
        font-size: 1.8em;
        background: linear-gradient(90deg, #d8852e, #905bfd);
        @include transparent;
    }
}

.menu3
{
    background-color: $menu3;
    font-family: $dancing;
    a
    {
        font-size: 2.7em;
        background: linear-gradient(90deg, #0431df, #0887fb);
        @include transparent;
        padding: 5px;
    }
}

.menu4
{
    background-color: $menu4;
    font-family: $kaushan;
    a
    {
        font-size: 2.4em;
        background: linear-gradient(90deg, #3d9339, #bfff7e);
        @include transparent;
        padding: 10px;
    }
}

.menu1-font
{
    font-family: $sriracha;
    font-size: 3em;
    font-weight: 100;
}

.menu2-font
{
    font-family: $noto;
    font-size: 3em;
    font-weight: 900;
    padding-top: 20px;
    color: #c77412;
}

.menu3-font
{
    font-family: $sriracha;
    font-size: 3em;
    font-weight: 100;
    color: #0887fb;
}

.menu4-font
{
    font-family: $sriracha;
    font-size: 3em;
    font-weight: 100;
    color: #72bf56;
}

.zoom
{
    @include center;
}

.btn
{
    @include center;
    margin-bottom: 150px;
    &__soon
    {
        @include center;
        width: 500px;
        height: 7vh;
        background-color: #579c87;
        margin: 50px 0px;
        border-radius: 25px;
        color: $logo-text;
        font-size: 2.7em;
    }
    &__send
    {
        @include center;
        width: 100px;
        height: 4vh;
        background-color: #579c87;
        border-radius: 10px;
        color: $logo-text;
        font-size: 0.7em;
    }
}

@keyframes dot
{
    0%
    {
        opacity: 1;
    }

    50%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

.child0
{

    animation: dot 1.5s infinite;

}

.child1
{
    animation: dot 1.4s infinite .7s;
}

.child2
{
    animation: dot 1.4s infinite 1s;
}

$wiggle-intensity: 4%;

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    background: $headband;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    a
    {
        color: $logo-text;
        font-size: 2.3em;
        margin: 0px 40px;
        text-decoration: none;
        animation: wiggle 700ms cubic-bezier(.4,.1,.6,.9) infinite alternate;
    }
}

@keyframes wiggle
{
    0% {
        transform: translateX(0);
    }
    1% {
        transform: translateX(-$wiggle-intensity);
    }
    7%{
        transform: translateX($wiggle-intensity);
    }
    11%{
        transform: translateX(0);
    }
}

            /*               Mentions légales               */

.mentions
{
    display: flex;
    flex-direction: column;
    padding: 100px 300px 150px 300px;
}

.mentions div
{
    margin: 20px 0px;
}

h2
{
    font-size: 2.7em;
    margin-bottom: 30px;
}

.mentions h3
{
    font-size: 1.5em;
    color: $headband;
    text-decoration: underline $logo-text;
    margin-bottom: 10px;
}

            /*               Contactez-nous               */

            form
{
    border: 1px solid $headband;
    border-radius: 7px;
    padding: 50px;
    font-size: 1.7em;
    font-family: $bellota;
}

.contact
{
    display: flex;
    flex-direction: column;
    padding: 100px 300px 150px 300px;
    &__under
    {
        display: flex;
        flex-direction: column;
    }
}

.contact h2
{
    color: $headband;
    text-decoration: underline $logo-text;
}

.contact div
{
    margin-bottom: 30px;
}

#restaurant, #name, #firstname, #email, #tel, #comment
{
    border-radius: 7px;
    min-height: 20px;
    padding-left: 5px;
}

.civil-state
{
    display: flex;
    div
    {
        margin-right: 200px;
    }
}

.join
{
    display: flex;
    div
    {
        margin-right: 270px;
    }
}

/*.send-btn
{
    @include center;
}*/

.decoration
{
    color: $headband;
    text-decoration: underline $logo-text;
    margin-bottom: 5px;
}

.required
{
    font-size: 0.5em;
    font-style: italic;
    font-weight: bold;
}

            /*               La note enchantée               */

.details
{
    @include center;
    padding: 50px 300px 120px 300px;
}

.menu1--modif
{
    background-color: $menu1;
    width: 100%;
}

.title
{
    @include center;
}

.title__note
{
    margin: 20px 0px;
    h2
    {
        font-family: $devonshire;
        font-size: 4.3em;
        font-weight: 300;
    }
    .fas
    {
        padding-top: 50px;
        font-size: 6.5em;
    }
}

.subtitle__note
{
    color: #3d1319;
}

.subtitle__note h3
{
    @include center;
    padding: 40px 0px;
    font-family: $kalam;
    font-size: 2.7em;
    font-weight: 400;
}

.line
{
    display: flex;
    @include center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 70px;
}

#Calque_1
{
    width: 300px;
    margin-top: 5px;
}

#Calque_1-1
{
    width: 300px;
    margin-top: 5px;
    transform: scaleX(-1);
}

.dishes
{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;
    li
    {
        margin: 5px 40px;
        list-style-type: none;
        font-family: $kalam;
        font-size: 1.5em;
    }
}

.down__note
{
    display: flex;
    justify-content: center;
    margin: 80px 0px;
    h4
    {
        padding-left: 20px;
        font-family: $devonshire;
        font-size: 3em;
        font-weight: 300;
    }
    .fas
    {
        font-size: 3.9em;
    }
}

            /*               Le chic à la française               */

.menu2--modif
{
    background-color: $menu2;
    width: 100%;
}

.title__chic
{
margin: 170px 0px 40px 0px;
h2
    {
        font-family: $croissant;
        font-size: 3.1em;
        font-weight: 300;
        background: linear-gradient(90deg, #d8852e, #905bfd);
        @include transparent;
    }
}

.subtitle__chic h3
{
    @include center;
    padding: 60px 0px 45px 0px;
    font-family: $noto;
    font-size: 1.7em;
    font-style: bold;
}

.subtitle__chic
{
    display: flex;
    @include center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 70px;
}

#Calque_2
{
    width: 300px;
    margin-top: 15px;
}

#Calque_2-1
{
    width: 300px;
    margin-top: 15px;
    transform: scaleX(-1);
}

.dishes__chic
{
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 20px 120px;
    li
    {
        margin: 10px 0px;
        list-style-type: none;
        font-family: $noto;
        font-size: 1.5em;
    }
}

.color__chic1
{
    color: #d8852e;
}

.color__chic2
{
    color: #a56799;
}

.color__chic3
{
    color: #6e4ccc;
}

            /*               Le délice des papilles               */

.menu3--modif
{
    background-color: $menu3;
    width: 100%;
}

.title__delice
{
margin: 170px 0px 40px 0px;
h2
    {
        font-family: $dancing;
        font-size: 5.7em;
        font-weight: 400;
        background: linear-gradient(90deg, #0431df, #0887fb);
        color: transparent;
        @include transparent;
        padding: 10px
    }
}

.subtitle__delice h3
{
    @include center;
    padding: 60px 0px 45px 0px;
    font-family: $kalam;
    font-size: 1.7em;
    font-weight: 400;
}

.subtitle__delice
{
    display: flex;
    @include center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 70px;
}

#Calque_3
{
    width: 300px;
    margin-top: 15px;
}

#Calque_3-1
{
    width: 300px;
    margin-top: 15px;
    transform: scaleX(-1);
}

.dishes__delice
{
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 20px 150px;
    li
    {
        list-style-type: none;
        font-family: $kalam;
        font-size: 1.5em;
        margin: 7px 0px;
    }
}

            /*               La palette du goût               */

.menu4--modif
{
    background-color: $menu4;
    width: 100%;
}

.title__palette h2
{
    font-family: $kaushan;
    background: linear-gradient(90deg, #3d9339, #bfff7e);
    @include transparent;
    margin: 150px 0px 40px 0px;
    padding: 10px;
    font-size: 5.7em;
    font-weight: 400;
}

.subtitle__palette h3
{
    @include center;
    padding: 60px 0px 45px 0px;
    font-family: $kalam;
    font-size: 1.7em;
    font-weight: 400;
}

.subtitle__palette
{
    display: flex;
    @include center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 70px;
}

#Calque_4
{
    width: 300px;
    margin-top: 15px;
}

#Calque_4-1
{
    width: 300px;
    margin-top: 15px;
    transform: scaleX(-1);
}

.dishes__palette
{
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 20px 120px;
    li
    {
        list-style-type: none;
        font-family: $kalam;
        font-size: 1.5em;
        margin: 7px 0px;
    }
}