                /* ====================================
                ============== Reset CSS ==============
                ======================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0px;
    border: 0px;
}
                /* ====================================
                ============== Variables ==============
                ======================================= */
$logo-text: #fdcb46;
$headband: #579c87;
$menu1: #fcdfdb;
$menu2: #fff5fe;
$menu3: #f9f9f9;
$menu4: #fdfffd;
$roboto: 'Roboto', Arial, Helvetica, sans-serif;
$devonshire: 'Devonshire', Arial, Helvetica, sans-serif;
$croissant: 'Croissant One', Arial, Helvetica, sans-serif;
$dancing: 'Dancing Script', Arial, Helvetica, sans-serif;
$kaushan: 'Kaushan Script', Arial, Helvetica, sans-serif;
$sriracha: 'Sriracha', Arial, Helvetica, sans-serif;
$bellota: 'Bellota Text', Arial, Helvetica, sans-serif;
$kalam: 'Kalam', Arial, Helvetica, sans-serif;
$noto: 'Noto Serif', Arial, Helvetica, sans-serif;
$wiggle-intensity: 4%;

                /* ====================================
                ================ Mixins ===============
                ======================================= */
@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
            
@mixin parameter {
    height: 38vw;
    width: 31%;
    box-shadow: 0px 0px 29px -5px rgba(0,0,0,1);
    @include center;
}
            
@mixin zoom {
    color: black;
    @include center;
    transform: scale(1);
    transition: transform 600ms;
    &:hover .zoom {
            transform: scale(1.05);
            transition: transform 600ms;
            opacity: 0.8;
        }
}

@mixin transparent {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin effect {
    cursor: pointer;
    background-size: 0 100%;
    transition: background-size 0.3s;
    &:hover {
        background-size: 100% 100%;
    }
}
                /* ====================================
                =============== Acceuil ===============
                ======================================= */
.container {
    width: 100%;
}

.header {
    @include center;
    width: 100%;
    height: 14vh;
    background: $headband;
    .h1 {
        color: $logo-text;
        font-family: $roboto;
        font-size: 5em;
        letter-spacing: -3px;
    }
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 0px;
    &-list {
        @include parameter;
        @include zoom;
        margin: 40px;
        &--1 {
            background-color: $menu1;
            .fas {
                font-size: 3.5em;
                background: linear-gradient(90deg, #f15861, #f78f6a);
                @include transparent;
            }
            a {
                font-family: $devonshire;
                font-size: 2.3em;
                text-decoration: none;
                color: black;
            }
        }
        &--2 {
            background-color: $menu2;
            font-family: $croissant;
            a {
                font-size: 1.8em;
                background: linear-gradient(90deg, #d8852e, #905bfd);
                @include transparent;
            }
        }
        &--3 {
            background-color: $menu3;
            font-family: $dancing;
            a {
                font-size: 2.7em;
                background: linear-gradient(90deg, #0431df, #0887fb);
                @include transparent;
                padding: 5px;
            }
        }
        &--4 {
            background-color: $menu4;
            font-family: $kaushan;
            a {
                font-size: 2.4em;
                background: linear-gradient(90deg, #3d9339, #bfff7e);
                @include transparent;
                padding: 10px;
            }
        }
    }
    &__font {
        font-size: 3em;
        font-family: $sriracha;
        font-weight: 100;
        &--2 {
            font-family: $noto;
            font-weight: 900;
            padding-top: 20px;
            color: #c77412;
        }

        &--3 {
            color: #0887fb;
        }

        &--4 {
            color: #72bf56;
        }

    }
}

.zoom {
    @include center;
}

.btn {
    @include center;
    margin-bottom: 150px;
    &__soon {
        @include center;
        background-color: #579c87;
        margin: 50px 0px;
        border-radius: 15px;
        color: $logo-text;
        font-size: 2.7em;
        padding: 10px 30px;
    }
    &__send {
        @include center;
        background-color: #579c87;
        border-radius: 10px;
        color: $logo-text;
        font-size: 1em;
        padding: 5px 20px;
    }
}

@keyframes dot {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.child0 {
    animation: dot 1.5s infinite;
}

.child1 {
    animation: dot 1.4s infinite .7s;
}

.child2 {
    animation: dot 1.4s infinite 1s;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    background: $headband;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    a {
        color: $logo-text;
        font-size: 2.3em;
        margin: 0px 40px;
        text-decoration: none;
        animation: wiggle 700ms cubic-bezier(.4,.1,.6,.9) infinite alternate;
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }
    1% {
        transform: translateX(-$wiggle-intensity);
    }
    7% {
        transform: translateX($wiggle-intensity);
    }
    11% {
        transform: translateX(0);
    }
}
                /* ====================================
                =========== Mentions légales ==========
                ======================================= */
.base {
    display: flex;
    flex-direction: column;
    padding: 100px 300px 150px 300px;
    .h2 {
        font-size: 2.7em;
        color: $headband;
        margin-bottom: 30px;
    }
    section
    {
        margin: 20px 0px;
    }
    h3 {
        font-size: 1.5em;
        color: $headband;
        text-decoration: underline $logo-text;
        margin-bottom: 10px;
    }
}
                /* ====================================
                =========== Conctactez-nous ===========
                ======================================= */
form {
    border: 1px solid $headband;
    border-radius: 7px;
    padding: 50px;
    font-size: 1.7em;
    font-family: $bellota;
}

.contact {
    &__under {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        h3 {
            font-size: 1em;
            font-weight: 100;
        }
        &--1 {
            width: 50%;
            padding-right: 50px;
        }
        &--2 {
            width: 50%;
        }
    }
    .h2 {
        text-decoration: underline $logo-text;
    }
}

.input {
    border-radius: 7px;
    min-height: 20px;
    padding-left: 5px;
}

.identity {
    display: flex;
    justify-content: space-between;
}

.decoration {
    color: $headband;
    text-decoration: underline $logo-text;
    margin-bottom: 5px;
}

.required {
    font-size: 0.5em;
    font-style: italic;
    font-weight: bold;
}
                /* ====================================
                =============== General ===============
                ======================================= */
.details {
    @include center;
    padding: 50px;
    margin-bottom: 50px;
}

.title {
    @include center;
    margin: 170px 0px 40px 0px;
    h2 {
        text-align: center;
    }
}

.subtitle {
    display: flex;
    @include center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 70px;
    .h3
    {
        @include center;
        font-size: 1.5em;
        padding-top: 35px;
        font-family: $kalam;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 1%, transparent 4%) no-repeat;
        background-size: 0 100%;
        transition: background-size 0.3s;
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.calque {
    width: 30%;
    margin-top: 30px;
    &--1 {
        transform: scaleX(-1);
    }
}

.dishes {
    display: flex;
    flex-direction: column;
    ul {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        list-style-type: none;
    }
}

                /* ====================================
                ========== La note enchantée ==========
                ======================================= */
.title__note {
    margin: 0;
    h2 {
        font-family: $devonshire;
        font-size: 4.3em;
        font-weight: 300;
        color: #3d1319;
    }
        .fas {
        padding-top: 100px;
        font-size: 6.5em;
    }
}

.subtitle__note {
    flex-direction: column;
    align-items: inherit;
    color: #3d1319;
    .h3--1
    {
        font-size: 2.7em;
    }
}

.line {
    display: flex;
    @include center;
    flex-direction: row;
    justify-content: space-between;
}

.dishes__note li {
    font-family: $kalam;
    font-size: 1.5em;
}

.down__note {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
    h4 {
        padding-left: 20px;
        font-family: $devonshire;
        font-size: 3em;
        font-weight: 300;
    }
    .fas {
        font-size: 3.9em;
    }
}
                /* ====================================
                ======= Le chic à la française ========
                ======================================= */
.title__chic h2 {
    font-family: $croissant;
    font-size: 3.1em;
    font-weight: 300;
    background: linear-gradient(90deg, #d8852e, #905bfd);
    @include transparent;    
}

.subtitle .h3--2 {
    font-family: $noto;
    font-size: 1.5em;
    font-weight: 900;
}

.dishes--chic {
    padding: 40px 150px 20px 120px;
    li {
        margin: 10px 0px;
        list-style-type: none;
        font-family: $noto;
        font-size: 1.5em;
    }
}

.color__chic--1 {
    color: #d8852e;
    margin-top: 100px;
    .h3--2 {
        &:hover {
            @include effect;
            background: linear-gradient(to top, rgba(216, 133, 46, 0.7) 0%, rgba(216, 133, 46, 0.7) 1%, transparent 4%) no-repeat;
        }
    }
}

.color__chic--2 {
    color: #a56799;
    margin-top: 50px;
    .h3--2 {
        &:hover {
            @include effect;
            background: linear-gradient(to top, rgba(165, 103, 153, 0.7) 0%, rgba(165, 103, 153, 0.7) 1%, transparent 4%) no-repeat;
        }
    }
}

.color__chic--3 {
    color: #6e4ccc;
    margin-top: 50px;
    .h3--2 {
        &:hover {
            @include effect;
            background: linear-gradient(to top, rgba(110, 76, 204, 0.7) 0%, rgba(110, 76, 204, 0.7) 1%, transparent 4%) no-repeat;
        }
    }
}
                /* ====================================
                ======= Le délice des papilles ========
                ======================================= */
.title__delice h2 {
    font-family: $dancing;
    font-size: 5.7em;
    font-weight: 400;
    background: linear-gradient(90deg, #0431df, #0887fb);
    @include transparent;
    padding: 10px
}

.color__delice--1 {
    .h3--3 {
        font-size: 1.7em;
        &:hover {
            @include effect;
            background: linear-gradient(to top, rgba(2, 40, 221, 0.7) 0%, rgba(2, 40, 221, 0.7) 1%, transparent 4%) no-repeat;
        }
    }
}

.color__delice--2 {
    .h3--3 {
        &:hover {
            @include effect;
            background: linear-gradient(to top, rgba(6, 112, 243, 0.7) 0%, rgba(6, 112, 243, 0.7) 1%, transparent 4%) no-repeat;
        }
    }
}

.color__delice--3 {
    .h3--3 {
        &:hover {
            @include effect;
            background: linear-gradient(to top, rgba(34, 157, 249, 0.7) 0%, rgba(34, 157, 249, 0.7) 1%, transparent 4%) no-repeat;
        }
    }
}

.dishes {
    &--delice {
        padding: 40px 150px 20px 150px;
        li {
            font-size: 1.5em;
            margin: 7px 0px;
        }
    }
    &__details {
        margin: 20px 5px;
    }
}
                /* ====================================
                ========= La palette du goût ==========
                ======================================= */
.title__palette h2 {
    font-family: $kaushan;
    font-size: 5.7em;
    font-weight: 400;
    background: linear-gradient(90deg, #3d9339, #bfff7e);
    @include transparent;
    padding: 10px;
}

.stop1 {
    stop-color: #41963c;
}

.stop3 {
    stop-color: #b8fa7c;
}

#svg {
    fill: url(#Gradient2)
}

.color__palette {
    .h3--4 {
        font-size: 1.7em;
        &:hover {
            @include effect;
            background: linear-gradient(to top, rgba(65, 150, 60, 0.7) 0%, rgba(202, 252, 156, 0.7) 1%, transparent 4%) no-repeat;
        }
    }
}

.dishes__palette {
    padding: 40px 150px 20px 120px;
    li {
        font-size: 1.5em;
        margin: 7px 0px;
    }
}

                /* ========= Media Queries ============ */
@media screen and (max-width: 1145px) {

                /* ====================================
                =============== Acceuil ===============
                ======================================= */
    .menu-list a {
        font-size: 1.5em;
        text-align: center;
    }

    .menu__font {
        font-size: 2em;
    }

    .btn__soon {
        font-size: 1.9em;
    }

                /* ====================================
                =========== Mentions légales ==========
                ======================================= */
    .base {
        max-width: 1440px;
        margin: 35px auto;
        padding: 2em;
    }
}

@media screen and (max-width: 768px) {

                /* ====================================
                =============== Acceuil ===============
                ======================================= */
    .header .h1 {
        font-size: 4.5em;
    }

    .zoom a {
        font-size: 1.2em;
        text-align: center;
    }

    .footer a {
        font-size: 2em;
    }

    .btn {
        margin-bottom: 50px;
        &__soon {
            font-size: 1.6em;
        }
    }

                /* ====================================
                =========== Mentions légales ==========
                ======================================= */
    .base {
        padding: 60px;
    }
                /* ====================================
                =========== Conctactez-nous ===========
                ======================================= */
    .contact__under {
        &--1 {
            width: 100%;
            padding: inherit;
        }
        &--2 {
            width: 100%;
        }
    }
    .identity {
        flex-direction: column;
    }
                /* ====================================
                ========== La note enchantée ==========
                ======================================= */

    .title h2 {
        font-size: 4.3em;
    }

    .subtitle {
        margin: 0px 30px;
        &__note {
            margin: 0px 50px;
        }
        .h3 {
            font-size: 1.5em;
        }
    }

    .dishes {
        padding: 40px 70px 20px 70px;
        &__note {
            padding: inherit;
        }
        li {
        font-size: 1em;
        }
    }

                /* ====================================
                ======= Le chic à la française ========
                ======================================= */
    .title__chic h2 {
        font-size: 2.8em;
    }

    .subtitle__chic .h3 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 580px) {

                /* ====================================
                =============== Acceuil ===============
                ======================================= */
    .menu .menu-list {
        width: 50%;
        height: 60vw;
        margin: 25px;
    }

    .footer a {
        font-size: 1.3em;
    }
                /* ====================================
                =============== General ===============
                ======================================= */
    .details {
        padding: 10px 10px 20px 10px;
    }

    .dishes {
        padding: 20px 50px;
    }
                /* ====================================
                ========== La note enchantée ==========
                ======================================= */
    .subtitle__note {
        margin: 0px 30px;
    }

    .dishes__note {
        padding: inherit;
        div {
            margin: 7px 0px;
        }
    }
                /* ====================================
                ======= Le chic à la française ========
                ======================================= */
    .color__chic--1, .color__chic--2, .color__chic--3 {
        margin: inherit;
    }
}

@media screen and (max-width: 425px) {

                /* ====================================
                =============== Acceuil ===============
                ======================================= */
    .header .h1 {
        font-size: 4em;
    }

    .menu {
        padding: 40px 0px;
        .menu-list {
            width: 80%;
            height: 40vh;
            margin: 25px;
        }
    }

    .footer a {
        font-size: 1em;
    }
                /* ====================================
                =========== Mentions légales ==========
                ======================================= */
    .base {
        padding: 80px 10px;
    }
                /* ====================================
                =========== Conctactez-nous ===========
                ======================================= */
    form {
        font-size: 1em;
        padding: 10px;
    }
                /* ====================================
                ========== La note enchantée ==========
                ======================================= */
    .title {
        margin: 80px 0px 40px 0px;
        h2 {
            font-size: 2.2em;
        }        
        &__note {
            .fas {
                font-size: 4.5em;
                padding-top: inherit;;
            }
            h2 {
                font-size: 3em;
            }
        }
    }

    .subtitle {
        margin: 0px 5px;
        h3 {
            font-size: 1.3em;;
        }
    }

    .down__note {
        .fas {
            font-size: 3.5em;
        }
        h4 {
            font-size: 1.7em;
        }
    }
                /* ====================================
                ======= Le chic à la française ========
                ======================================= */
    .dishes {
        padding: 10px;
    }
}